/* Tipos de Display: none, inline,block,inline-block*/
/* este simbolo significa "^" empezar por..atributo */
[class^="box"]{
background-color: steelblue;
}
.box-0{
    display: none;
    }
.box-3,
.box-4,
.box-3 p,
.box-4 p{
    display: inline-block;

}

.box-5,.box-6,.box-5 p,.box-6 p{
    display: inline;
}

.rectangle {
    background-color: teal;
    height: 50px;
    width: 25%;

}
     /* Centrar horizontalmente (eje x) */
.x-centered{
    
    margin: auto;
}
    /* posicion relativa*/
.pos-relative{
    position: relative;
    left: 100px;
    top:-50px;
    z-index: -1;}
   
    /* Posicion absoluta*/

.pos-absolute-parent 
{
    height: 300px;
    
    border:15px solid tomato;

    position: relative;
}

.pos-absolute-child
{
        height: 50px;
        width: 50px;
        background-color: #333;

        position: absolute;
        bottom: 50%;
        left: 50%;
        margin-left: -25px;
        margin-bottom: -25px;
}


.pos-fixed
{
    background-color: #333;
   padding: 20px 30px;

    position: fixed;
    bottom: 30px;
    right: 30px;

}
 .pos-fixed a 
 {
     color: white;
     text-decoration: none;

 }
 /* Posicionio stiky*/
 .pos-stiky
 {
     background-color: steelblue;
     padding: 15px 25px;

     position: sticky;
     top:0;
 }
 .pos-stiky a
 {
     text-decoration: none;
     color:white;

 }

 /*Posicionamiento flotante: divs dentro de otros divs*/
 .pos-float-parent
 {
     border: 5px solid blueviolet;

 }
 .pos-float-child-1
 {
     background-color: darkblue;
     height: 100px;
     width: 33.3%;

     float: left;
 }
.pos-float-child-2
{
    background-color: brown;
    height: 100px;
     width: 33.3%;
     float: left;
}
.pos-float-child-3
{
    background-color: orangered;
    height: 100px;
     width: 33.3%;
     float: left; 
}
.pos-float-child-4
{
    background-color: yellowgreen;
    height: 50px;
     width: 100%;
     clear: both;
}
/*Overflow-gestion del desbordamienbto del contenido*/
[class^="Overflow-parent"] 
{
    width: 200px;
    height: 100px;
    border: 3px dashed black;
    margin-bottom: 150px;
    
}
.Overflow-parent-1{
    overflow: hidden;
}
.Overflow-parent-2
{
    overflow: visible;
}
.Overflow-parent-3
{
    overflow: scroll;
}

/*Tamaño de cajas (box-sizing)*/
.box-sizing-parente{
    width: 200px;
    height: 200px;
    border: 10px solid goldenrod;
}
.box-sizing-child{
    width: 100%;
    height: 50px;
    background-color: gray;
    border: 10px solid darkolivegreen; 
    box-sizing: content-box; /*valor por defecto*/
}
.border-box{
    margin-top: 10px;
    box-sizing: border-box;
}