/* navegador*/
.search-nav{
  
    box-sizing:border-box;
    height: 60px;
  
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr;
  
  
}
.shop-menu{
    width: 350px;
    display: flex;
    align-items:center;
    justify-content:flex-start;
    align-content: center;
    padding-right: 10px;
}
.search-div 
{
    display: flex;
    align-items:center;
    justify-content:end;
    

}
.searchinput{
    width: 500px;
    background-color:  #f4f5f7; 
    height: 30px; 
    font-family:FontAwesome,Inter, system-ui, Roboto, Helvetica, Arial;

}

.iconbell{
    display: flex;
  align-items: center;
  justify-content: end;
   
}


i.far.fa-bell{
  
    color: #7e3af2;
    cursor: pointer;
}
i.far.fa-bell:hover{
    background-color: #6c2bd9;
}
.redpoint{
 box-sizing: border-box;
    align-items:flex-start;
}
i.far.fa-circle 
{
color:#e02424;

}
.user-div
{    
    display: flex;
    align-items: center;
    justify-content:flex-start;
    padding-left: 25px;
}
#user1{
    border-radius: 20px;
}

/*End navegador*/
 
/*.main-dasboard*/
.Dasboard {
    display: grid;
    grid-template-columns: 350px 3fr;

}
/*start Adiv*/
 .aside{
    float: inline-start;
  width: 20%;
  height: 700px;
  display:flexbox;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;  

 }
 
 
 .box
 {      
     width: 100%;
     display: flex;
     align-items: center;
     padding: 15px;
     text-emphasis-color: #f4f5f7;       
     border:white 1px;
     cursor: pointer;
 }
.box:hover{
    text-emphasis-color: #24262d;
    
    margin-left: 1px color  #6c2bd9;
}
 .bold {font-weight: bold;}


/*boton de productos*/
.add-products
{
  width: 250px;
    height: 1rem;
    background-color: #6c2bd9;    
    cursor: pointer;
    border-radius: 10px;
} 
.purple-buttom{
    color: white;    
    border:white 1px;
}

 /* Main-Dasboard*/

 .main-dasboard{
     background-color: #f4f5f7;
     height: 700px;
     margin-top:   #24262d ;
     display: grid;
     grid-template-columns: 1fr;
     
   
 }