* {
    box-sizing: border-box;
    font-family:'FontAwesome' ,'Inter', 'Roboto', Helvetica, Arial;
    font-size: 12px;
    padding: 0;
    margin: 0;
    flex-shrink: 0;
    text-decoration: none;
}

/*------colorores prefijados ---------*/
:root {                                        
    --gray-light: #f4f5f7;
    --gray-dark: #24262d;
    --purple-light: #7e3af2;
    --purple-dark: #6c2bd9;
    --orange-light: #feecdc;
    --orange-dark: #ff5a1f;
    --blue-light: #e1effe;
    --blue-dark: #3f83f8;
    --green-light: #def7ec;
    --green-dark: #0e9f6e;
    --teal-light: #d5f5f6;
    --teal-dark: #0694a2;
}
.text-white{color: white;}
.next{margin-right: 1rem;}
.bold {font-weight: bold;}
.text-purple {color: var(--purple-light);}
/* ----------------------------------navegador---------------------------------*/
.search-nav{
  
    box-sizing:border-box;
    height: 60px;  
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr; 
  
}
.hamburger{
    width: 350px;
    display: flex;
    align-items:center;
    justify-content:flex-start;
    align-content: center;
    padding: 10px;
    box-sizing: content-box;
}
.rocket{
    width: 350px;
    display: flex;
    align-items:center;
    justify-content:flex-start;
    align-content: center;
    padding-right: 10px;
}
.search-div 
{
    display: flex;
    align-items:center;
    justify-content:end;  
}
.searchinput{
    width: 500px;
    background-color:  #f4f5f7; 
    height: 30px; 
    }

.iconbell{
    display: flex;
  align-items: center;
  justify-content: end;   
}
i.far.fa-bell{
  
    color: #7e3af2;
    cursor: pointer;
}
i.far.fa-bell:hover{
   color: #ff5a1f;
}
.redpoint{
   
    top: -5px;
    left: 7px;    
    color: red;;
}
i.far.fa-circle 
{   
  color:#e02424;
}
.user-div
{    
    display: flex;
    align-items: center;
    justify-content:flex-start;
    padding-left: 25px;
}
#user{
    border-radius: 20px;
}
/*-------------------------------------------End navegador-------------------------------*/
 
/*--------------------------------------.main-dasboard---------------------------------*/
.Dasboard {
    display: grid;
    gap: 1rem;
    grid-template-columns: 350px 3fr;
}
/*-----------------------------------------start Aside----------------------------------*/
 .aside{
    float: inline-start;
  width: 20%;
  height: 700px;
  display:flexbox;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;  
  } 
.products{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
 .box
 {      
     width: 100%;      
     padding: 15px;     
     border-left: 4px solid white; 
 }
.box:hover{
    
  cursor: all-scroll;
  border-color: var(--purple-light);
    margin-left: 1px color  #6c2bd9;
    color: #6c2bd9;
   
}
h3{
    padding-left: 20px;
}
 p, i,.box {
     font-weight: bold;
     padding-left: 20px;
     color:    #787d88;
     transition:color 0.3s;
}
i:hover{
    color:  #24262d;
}
p:hover{
    color:  #24262d;
}
 .add-products {
     justify-content: space-between;
 }

/*boton de productos*/
.add-products
{
  width: 250px;
    height: 1rem;
    background-color: #6c2bd9;    
    cursor: pointer;
    border-radius: 10px;
} 
.purple-buttom{
    color: white;    
    border:white 1px;
}

 /* Main-Dasboard*/
.title-dashboard{
height: 25px;
}
 .main-dasboard{
     background-color: #f4f5f7;
  
     margin-top:   #24262d ;
     display: grid;
     grid-template-columns: 1fr;    
     padding: 2rem;
 }
 h1 {
    font-size: x-large;
    margin-top: 30px;
    color: var(--gray-dark);
}
.top-frame{
    background-color: #6c2bd9;
    display: flex;
    align-items: center;
    border-radius: 10px;
    justify-content: space-between;      
    height: 50px;
    padding: 10px;
    margin: 2rem 0;
}
.box-containers{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    background-color: #f4f5f7;    
    }
.icon-box {
     width: 4rem;
     height: 4rem;
     border-radius: 50%;
    margin: 1rem;
    display: flex;
    justify-content: center center;
    align-items: center ;
    }
    .clients {background-color: #feecdc; }
    .balance {background-color: #def7ec; }
    .sales {background-color:  #e1effe; }
    .contacts {background-color:#d5f5f6; }
    
    i.fas.fa-users{color:#ff5a1f;}
    i.fas.fa-money-bill-wave{color: #0e9f6e;}
    i.fas.fa-shopping-cart{color:  #3f83f8;}
    i.fas.fa-comment-dots{color:  #0694a2;}

   .block{
    
       border: 1px solid #e4e4e4;
       background: white;
       height: 100px;
       display: flex;
       align-items: center;
       }
   /*------------------------ mediasquery de bloques y navbar-------------------------------*/

   .hamburger{
    display: none;
}

   @media only screen and (max-width:1300px) {
       .box-containers{
           grid-template-columns: 1fr 1fr;
       }
       .hamburger{
           display: none;
       }
   }
   @media only screen and (max-width:900px) {
    .box-containers{
        grid-template-columns: 1fr;
    }
    .rocket{
        display: none;
       
    }
    .hamburger{
        display:block;
    }
}

/*------------------------------table-------------------------------*/
.table{
    margin: 2rem 0;
table-layout: auto;
width: 100%;
border-collapse: collapse;
border-radius: 0.5rem;
border-style: hidden; 
box-shadow: 0 0 0 1px #c9c9c9; /* dibuja table border  */

}
tbody tr {
    border: 1px solid #c9c9c9;
    background-color: white;
}
th,
tfoot td {
    color: grey;
    text-transform: uppercase;
    text-align: left;
    padding: 1rem;
}
td {
    padding: 0.8rem;
}

tbody tr {
    border: 1px solid #c9c9c9;
    background-color: white;
}
tbody tr:hover {
    background-color: #f4f5f7;
}

.user-iner {
    display: flex;
    align-items: center;
}

.status {
    padding: 0.2rem 0.8rem;
    font-weight: bold;
    display: inline;
    border-radius: 1rem;
}
.status.approved {
    background-color: #def7ec;   
    color: #0e9f6e;}
.status.denied {
    background-color: #fce1e1;
    color: #bd5252;}
.status.expired {
    background-color: #f4f5f7;    
    color: #24262d;} 

    .page-numbers>a{
        margin: 10px;
    }