.text-white{color: white;}
.next{margin-right: 1rem;}
.bold {font-weight: bold;}

/* ----------------------------------navegador---------------------------------*/
.search-nav{
  
    box-sizing:border-box;
    height: 60px;  
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr; 
  
}
.hamburger{
    width: 350px;
    display: flex;
    align-items:center;
    justify-content:flex-start;
    align-content: center;
    padding: 10px;
    box-sizing: content-box;
}
.rocket{
    width: 350px;
    display: flex;
    align-items:center;
    justify-content:flex-start;
    align-content: center;
    padding-right: 10px;
}
.search-div 
{
    display: flex;
    align-items:center;
    justify-content:end;
    

}
.searchinput{
    width: 500px;
    background-color:  #f4f5f7; 
    height: 30px; 
    font-family:FontAwesome,Inter, system-ui, Roboto, Helvetica, Arial;

}

.iconbell{
    display: flex;
  align-items: center;
  justify-content: end;   
}
i.far.fa-bell{
  
    color: #7e3af2;
    cursor: pointer;
}
i.far.fa-bell:hover{
    background-color: #6c2bd9;
}
.redpoint{
 box-sizing: border-box;
    align-items:flex-start;
}
i.far.fa-circle 
{
color:#e02424;

}
.user-div
{    
    display: flex;
    align-items: center;
    justify-content:flex-start;
    padding-left: 25px;
}
#user1{
    border-radius: 20px;
}
/*-------------------------------------------End navegador-------------------------------*/
 
/*--------------------------------------.main-dasboard---------------------------------*/
.Dasboard {
    display: grid;
    gap: 1rem;
    grid-template-columns: 350px 3fr;
}
/*-----------------------------------------start Aside----------------------------------*/
 .aside{
    float: inline-start;
  width: 20%;
  height: 700px;
  display:flexbox;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;  
  } 
.products{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
 .box
 {      
     width: 100%;      
     padding: 15px;     
     border-left: 4px solid white; 
 }
.box:hover{
    
  cursor: all-scroll;
  border-color: var(--purple-light);
    margin-left: 1px color  #6c2bd9;
    color: #6c2bd9;
   
}

 p, i,.box {
     font-weight: bold;
     padding-left: 20px;
     color:    #787d88;
     transition:color 0.3s;
}
i:hover{
    color:  #24262d;
}
p:hover{
    color:  #24262d;
}
 .add-products {
     justify-content: space-between;
 }

/*boton de productos*/
.add-products
{
  width: 250px;
    height: 1rem;
    background-color: #6c2bd9;    
    cursor: pointer;
    border-radius: 10px;
} 
.purple-buttom{
    color: white;    
    border:white 1px;
}

 /* Main-Dasboard*/
.title-dashboard{
height: 50px;
}
 .main-dasboard{
     background-color: #f4f5f7;
  
     margin-top:   #24262d ;
     display: grid;
     grid-template-columns: 1fr;    
     padding: 2rem;
 }
 h1 {
    font-size: x-large;
    margin-top: 30px;
    color: var(--gray-dark);
}
.top-frame{
    background-color: #6c2bd9;
    display: flex;
    align-items: center;
    border-radius: 10px;
    justify-content: space-between;      
    height: 100px;
    padding-bottom: 10px;

}
.box-containers{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    background-color: #f4f5f7
    
    }
   .block{
    
       border: 1px solid #e4e4e4;
       background: white;
       height: 100px;
   }
   /* mediasquery de bloques y navbar*/

   .hamburger{
    display: none;
}

   @media only screen and (max-width:1300px) {
       .box-containers{
           grid-template-columns: 1fr 1fr;
       }
       .hamburger{
           display: none;
       }
   }
   @media only screen and (max-width:900px) {
    .box-containers{
        grid-template-columns: 1fr;
    }
    .rocket{
        display: none;
       
    }
    .hamburger{
        display:block;
    }
}

/*------------------------------table-------------------------------*/
.table{
    margin: 2rem 0;
table-layout: auto;
width: 100%;
border-collapse: collapse;
border-radius: 0.5rem;
border-style: hidden; /* oculta el (collapsed) border */
box-shadow: 0 0 0 1px #c9c9c9; /* dibuja table border  */
display: grid;
grid-template-rows: max-content;    
}
tbody tr {
    border: 1px solid #c9c9c9;
    background-color: white;
}
th,
tfoot td {
    color: grey;
    text-transform: uppercase;
    text-align: left;
    padding: 1rem;
}