Algoritmo Ejercicio_36
	//Crear dos arrays de números enteros de longitud 10 
	//rellenos con números aleatorios del 1 al 20.
	//Imprimir índice y el resultado de la multiplicación de
	//ambos elementos de los arrays del índice de
	//cada iteración. Cuidado con los elementos del array 
	//sin inicializar.
	Definir array_1,array_2,index,tamaño,multiplicacion Como Entero;
	tamaño = 10;
	Dimension array_1[tamaño], array_2[tamaño];
	Para index=0 Hasta tamaño-1 Con Paso 1 Hacer
		array_1[index]=Aleatorio(1,20);
		array_2[index]=Aleatorio(1,20);

		
		multiplicacion = array_1[index] * array_2[index];
		
		Escribir 'indice ',index,' : ', array_1[index],' * ',array_2[index],' = ', multiplicacion;
	Fin Para
	
	
FinAlgoritmo
