Algoritmo ejercicio_16
//Desarrollar un algoritmo que nos calcule el cuadrado de los 9 primeros números naturales
	Definir A,contador Como Entero;
	contador=0;
	Mientras contador<9 Hacer
		Escribir  'Contador ', contador,' : ' contador^2;
		contador = contador +1;
		
	Fin Mientras
	
FinAlgoritmo
