Algoritmo ejercicio_50
	//50.Ejercicio
	//Hacer un algoritmo que cuente las veces que aparece una determinada
	//letra en una frase que introduciremos por teclado.
	Definir letra,frase Como Caracter;
	Definir indice,contador Como Entero;;
	Escribir 'pon frase';
	Leer frase;
	Escribir 'pon letra';
	Leer letra;
	contador=0;
	para indice =0 Hasta Longitud(frase)-1 Con Paso 1 Hacer
		si Subcadena(frase,indice,indice)== letra Entonces
			contador= contador+1;
		FinSi
	FinPara
	Escribir 'La letra ', Mayusculas(letra),' aparece ',contador,' veces';
FinAlgoritmo
