Algoritmo ejecicio_19
	//dada una secuecia de numeros leidos por teclado,que
	//acabe con un -1, por ejemplo: 5 ,3,0,2,4,...,-1.
	//Realizar el algoritmo que calcule la media aritmetica.
	// Suponemos que el usuario no insertara numero negativos.
	Definir N,media,suma, contador Como Entero;
	Leer N;
	suma = 0 ;
	contador = 0 ;
	Mientras N <> -1 Hacer
		suma = N + suma;
		Escribir  ' Introduce un numero';
		Leer N;
		contador = contador + 1;
	Fin Mientras
	Escribir 'la media  es ', suma/contador;
FinAlgoritmo
