
div.listas>ul>li
{
    border: 1px solid black;
    background-color: rgb(194, 189, 189);
    padding: 3px;
    width: 250px;
    height: 50px;
    vertical-align: middle;
    cursor: pointer;
    font: Arial,Helvetica, sans-serif;
    border-radius: 3px;
}

div.listas>ul
{
    list-style-image: url('/imganesCSS/avanzar.png');
    list-style-position: inside;   
}
div.listas>ul>li:hover
{

    background-color: coral;
    list-style-image: url('/imganesCSS/avanzar.png');
}

