
    #primero
    {
        height: 50vh;
        background-image: url(/imganesCSS/malaga.jpeg);
        
        background-position: center bottom;

      /*cuando la imagen es mas pequeña que el contenedor*/
        background-repeat: no-repeat;
        background-size: cover;
      
        /* Margenes*/
         margin-top: 10px;
         margin-right: 10px;
         margin-left: 10px;
         margin-bottom: 10px;
         margin: 20px;

         /* border-bottom: seagreen;
         border-top: yellow;
         border-width: 5px;
         border-style: solid;*/

         border: 5px solid seagreen;
         border-bottom: 15px seashell  red;

        /* Padding */
        /*padding-left: 100px;
        padding-right: 100px;
        padding-top: 100px;*/
        padding: 100px 25px 50px 0px
    }
    .empty{
        height: 2000px;
        background-color: red;
        width: 50%;
    }
    h1{
        text-align: center;
        color: rgb(63, 20, 92);
   border: 5px solid rgb(223, 190, 153);
    }
    h3
    {
        text-align: center;
        color: slateblue;
    }
    /*mesia queries*/
    .responsive{
        height: 100px;
        background-color: cadetblue;
        width: 30%;
    }
    @media only screen and (max-width:920px){
        .responsive{
            width: 100%;
            
        }
    }
    /*Flexbox*/

    .flex-parent
    {
        flex-direction: row; /* row-columna*/
        display: flex; /*fila*/
       flex-wrap: wrap; 
    } 

    [class^="flex-child"]
    {
        width: 250px;
        height: 250px;
        display: flex;
    justify-content: center;
    align-items: center;

    }
    .flex-parent > div:nth-child(odd){
        background-color: #ddd;
        color: #333
    }
    .flex-parent > div:nth-child(even){
        background-color:  #333;
        color:#ddd;
    }