body{
    color: #fff;
    background-color: #f4f4f4;
    margin: 0;
}
.container{
    padding: 10px 50px;
}
.brand-banner{
    background-color: coral;
}
.navbar{
    background-color: #333;
}
.navbar ul{
    list-style: none;
    padding: 0;
}
.navbar li{
    display: inline;
}
.container h1
{
    
    text-shadow: #333;
    font-size: 50px;
  
}
.img-header
{
    background-image: url(/Ejercicio5/CSS/image/1*xHGUxQGN1XBNdOrhcRFdiA.jpeg);
    text-align: center;
    background-position: center center;
    background: cover;
    height: 500px;
}
.center{
   padding: 30px;
  overflow: hidden;
}
.aside
{
    height: auto;
    background-color: black;
    float: right;
    width: 30%;
    box-sizing: border-box;
    padding: 15px;
}
.welcome
{
    height: auto;
    color: black; 
    padding-right: 50px; 
    float: left ;    
    width:70%;
    box-sizing: border-box;
}
.clear{
    clear: both;
}
.footer{
    background-color: black;
    text-align: center;
    height: 50px;
    padding: 15px;
}
/*Media queries*/
@media only screen and (max-width: 768px)
{
    .center, aside{
        float: none;
        width: 100%;
    }
    .welcome
    {
        margin-bottom: 30px;
    }
        .container h1
    {
        
        
        font-size: 2em;
        line-height: 1.3em;
        margin: 20px 5px;
    
    }
    .navbar li
    {
        display: block;
        margin-top: 15px;
    }
}
