.App {
  text-align: center;  
}
.body{
  height: 1000px;
}
/* Navegador*/
.Navbar{
  background: linear-gradient(to right, rgba(218,72,14,1) 0%, rgba(255,255,255,1) 100%);
  height: 15em;
  display: flex;   
  color: white;
  justify-content:space-between;
}
.Navbar img{
  height:18em ;
  padding-inline-start: 10px;
  align-items:flex-start;
  padding: 20px;
}
.linkCustomer {
  font-size: x-large; 
  text-align:justify ; 

  display: flex; 
  
  align-items:flex-end ;
  gap: 15px;
  
}

/*Pie de Pagina*/
.Footer{
  background:linear-gradient(to left, rgb(218,72,14,1) 50%, rgba(255,255,255,1) 100%);; 
  display: flex;   
  color: white;
  justify-content: flex-end;
  width: 100%;
  height: 15em;
}
.Footer img{
  width: 50%;
  height: 15em;
  align-items:center;
  justify-content: center; 
} 
/*Pagina principal*/
.principalPage {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;  
  color: white;
  height: 10px;
}
/*Pagina login*/
.userLogin{
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;  
  color: white;
  height: 10px;
}
/* Formulario de nuevo usuario*/
.form{

  background-color: #282c34;
  min-height: 120vh;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;  
  color: white;
 
}
.form input{
  font-size: x-large;
  width: 120vh;
  height: 10vh;
  padding: 10px;
}
/*Acceso de usuario*/
.userLogin{ 
  font-size: xx-large;
  left: 50%;
  top: 30%;  
  border: 1px solid rgb(10, 62, 75);
  padding: 40px;
  background-color: rgba(39, 23, 15, 0.747);
}
.userLogin2{
  text-align: center;
}